name : Publish the latest npm package

on: 
  push:
    tags:
      - v*

permissions:
  id-token: write 
  contents: write
  
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with: 
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
          
      - name: Install Bun
        uses: oven-sh/setup-bun@v1 
        
      - run: bun install
      - run: bun run test
      - run: npm publish --access public
        env:
            NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}